h1 {
  font-size: 10rem;
  line-height: 1;
}

h2 {
  width: 100%;
  font-size: 5.5rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.65rem;
  line-height: 1.35;
}

.btn {
  font-size: 1.3rem;
}

#footer {
  font-size: 1.5rem;
}

#footer h2 {
  font-size: 14.6rem;
  text-align: center;
}

.tech-list i {
  font-size: 3.5rem;
}
