* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  color: #e8e9eb;
  background: black;
  display: flex;
  flex-direction: column;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Remove scrollbar space */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* Scroll section snap */

.snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  flex: 0 0 96%;
}

/* Individual Sections */
.section {
  scroll-snap-align: start;
  height: 100vh;
}

/* Text selection style */
::selection {
  background-color: #7df9ff;
  color: #000;
}

::-moz-selection {
  background-color: #7df9ff;
  color: #000;
}

a,
.stack span {
  color: white;
  text-decoration: none;
}

/* Button styling */
.btn {
  margin-top: 30px;
}

.title {
  border: 1px solid white;
  padding: 0 50px;
}

.opacity-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

/* Footer styling */
#footer {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  width: 100%;
}

.footer-section {
  padding: 50px;
  flex: 0 0 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 1px solid white;
}

/* Additional component styles */
